*{
    margin: auto;
}
.circle{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: red;
    animation-name: umesh;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    margin-top: 50px;
}
.square{
    height: 200px;
    width: 200px;
    background-color: greenyellow;mayank;
    animation-name: mayank ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
img{animation-name: nagesh;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    margin-left: 700px;
    
}

@keyframes umesh{
    20%{background-color: purple;}
    40%{background-color: yellowgreen;}
    60%{background-color: magenta;}
    80%{background-color: tomato;}
    100%{background-color: orange;}
    70% {transform: translate(500px) ;}
}
@keyframes mayank{
    10%{background-color: maroon;}
    20%{background-color: yellowgreen;}
    30%{background-color: darkgoldenrod;}
    50%{background-color: yellow;}
    70%{background-color: darkturquoise;}
    80%{transform: rotate(50deg);}
    100%{transform: rotate(70deg);}
}
@keyframes nagesh{
    100%{transform: rotate(360deg);}
    
   
    }